@model IEnumerable<Examination.Models.Question>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.QuestionBody)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuestionAnswer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic.Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionBody)
            </td>
            <td>
                    @if (item.QuestionType)
                    {
                        <span>Multi Choice question</span>
                    }
                    else{ <span> True and false question</span>}
            </td>
            <td>
                @if((!item.QuestionType) &&item.QuestionAnswer==0)
                    { <span>False</span>

                    }
                    else if ((!item.QuestionType) && item.QuestionAnswer == 1)
                    {
                        <span>True</span>
                    }
                    else
                  {  
                        @Html.DisplayFor(modelItem => item.MultiChoicesQuestionAnswers.
                                                       FirstOrDefault(a=>a.NumberOfChoice==item.QuestionAnswer)
                                                       .BodyOfChoice);

                    }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic.Course.Name);
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
