@model Branch
@{
    ViewData["Title"] = "AddBranchTracks";

}
<h1>Add Branch Tracks</h1>

<div>
    <h4>Branch: @Model.Name</h4>
    <hr/>
    <form method="post">
        <div class="form-group">
            <label for="trackId">Select Track:</label>
            <select class="form-control" id="trackId" name="trackId">
                <option >select Track</option>
                @foreach (var track in ViewBag.Tracks)
                {
                    <option value="@track.Id">@track.Name</option>
                }
            </select>
        </div>
        <div class="form-group">
            <label for="instructorId">Select Supervisor:</label>
            <select class="form-control" id="instructorId" name="instructorId">
                <option>select Supervisor</option>
                @foreach (var instructor in ViewBag.Instructors)
                {
                    <option value="@instructor.Id">@instructor.Fname</option>
                }
            </select>
        </div>
        <input type="hidden" name="branchId" value="@Model.Id" />
        <button type="submit" class="btn btn-primary">Add</button>
    </form>
</div>



