@model List<Instructor>
@{
    ViewData["Title"] = "Index";
}

<h1>Instructors</h1>
<a href="/Instructor/Create" class="btn btn-info mt-2 mb-2" style="text-align:left">Create Instructor</a>

<div style="text-align:center">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>Instructor Name</th>
               <th>Branch Name</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Fname</td>
                   <td>@item.Branch.Name</td>@*Lazy Load *@
                    <td><a class=" btn btn-primary" asp-action="Details" asp-controller="Instructor" asp-route-id="@item.Id">Show</a></td>
                    <td><a class="btn btn-info" asp-action="Update" asp-controller="Instructor" asp-route-id="@item.Id">Edit</a></td>
                    <td>
                        <a class="btn btn-danger" asp-controller="Instructor" asp-action="Delete" asp-route-id="@item.Id"
                           onclick="return confirm('Are you sure you want to delete this Instructor?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>






