@model List<Track>
@{
    ViewData["Title"] = "Index";
}

<h1>Tracks</h1>
<a href="/Track/Create" class="btn btn-info mt-2 mb-2" style="text-align:left">Create Track</a>


<div style="text-align:center">
    <table class="table table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th> Name</th>
                <th>Details</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var track in Model)
            {
                <tr>
                    <td>@track.Id</td>
                    <td>@track.Name</td>
                    <td><a asp-action="Details" asp-controller="Track" asp-route-id="@track.Id">Show</a></td>
                    <td><a asp-action="Update" asp-controller="Track" asp-route-id="@track.Id">Edit</a></td>
                    <td>
                        <a asp-controller="Track" asp-action="Delete" asp-route-id="@track.Id"
                           onclick="return confirm('Are you sure you want to delete this Track?')">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>



